In [1]:
a = 100

In [2]:
## Declaring and assigning variables


age = 21
height = 5.6
name = 'Ajit'
is_student = True

##printing the variables

print('Age :',age)
print('Height :',height)
print('Name :',name)

Age : 21
Height : 5.6
Name : Ajit

In [3]:
## Naming Convention
## Variable names should be descriptive
## They must always start with a letter or an '_' and can contain letters,numbers,underscores
## VAriables name are case sensitive

#valid variable names

first_name = 'Ajit'
last_name = 'Singh'

In [6]:
#Invalid variable names
2age  = 21
first-name = 'Ajit'
@name = 'Ajit'

SyntaxError: invalid decimal literal (2056725856.py, line 2)

In [7]:
## Case Sensitivity
name = "Ajit"
Name = "Singh"

name == Name

False

In [9]:
## Understanding Variables Types
## Python is dynamically typed, type of a variable is determined at runtime
age = 21 #int
height = 5.6 #float
name="Ajit" #str
is_student = True #bool
print(type(name))

<class 'str'>

In [10]:
## Type Checking and Conversion

type(height)

float

In [11]:
age = 21
print(type(age))

#Type Conversion
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
21
<class 'str'>

In [15]:
age = '25'
print(type((int(age))))

<class 'int'>

In [16]:
name = 'Ajit'
int(name)

ValueError: invalid literal for int() with base 10: 'Ajit'

In [17]:
height = 5.6
type(height)

float

In [19]:
float(int(height))

5.0

In [23]:
## Dynamic Typing
##Python allows the type of variable to change as the program executes

var=10  #int
print(var,type(var))

var = 'Hello'
print(var,type(var))

var= 3.14
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [2]:
##input

age = input("What is the age")
print(age,type(age))

21 <class 'str'>

In [4]:
### SIMPLE CALCULATOR

num1 = float(input("Enter first number: "))
num2 = float(input("enter second number: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum:",sum)
print("Difference:",difference)
print("Product:",product)
print("Quotient:",quotient)

Sum: 10020.0
Difference: 10000.0
Product: 100100.0
Quotient: 1001.0