### SQL And SQLite

In [1]:
import sqlite3

In [3]:
## Connect to an SQLite database
connection = sqlite3.connect('example.db')
connection

In [4]:
cursor = connection.cursor()

In [6]:
## Create a Table
cursor.execute('''
Create Table If Not Exists Employee(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department text
    )
''')

##Commit the changes
connection.commit

In [7]:
cursor.execute('''
Create Table If Not Exists Employee(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department text
    )
''')

In [11]:
cursor.execute('''
Select * from Employee
''')

In [14]:
## Insert the data in sqlite table
cursor.execute('''
Insert into Employee(name,age,department)
                values('Ajit',21,'Data Scientist')

''')

cursor.execute('''
Insert into Employee(name,age,department)
                values('Akhilesh',21,'Web3')

''')

cursor.execute('''
Insert into Employee(name,age,department)
                values('Aman',21,'Front End Develoer')

''')

## commit the changes
connection.commit()

In [15]:
cursor.execute('''
Select * from Employee
''')

In [17]:
## QUery the data from the table
cursor.execute('Select * from Employee')
rows=cursor.fetchall()

## Print the queried data

for row in rows:
    print(row)

(1, 'Ajit', 21, 'Data Scientist')
(2, 'Akhilesh', 21, 'Web3')
(3, 'Aman', 21, 'Front End Develoer')
(4, 'Ajit', 21, 'Data Scientist')
(5, 'Akhilesh', 21, 'Web3')
(6, 'Aman', 21, 'Front End Develoer')

In [20]:
## Update the data in the table
cursor.execute('''
UPDATE Employee
Set age = 22
where name = 'Ajit'
''')

connection.commit()

In [21]:
## QUery the data from the table
cursor.execute('Select * from Employee')
rows=cursor.fetchall()

## Print the queried data

for row in rows:
    print(row)

(1, 'Ajit', 22, 'Data Scientist')
(2, 'Akhilesh', 21, 'Web3')
(3, 'Aman', 21, 'Front End Develoer')
(4, 'Ajit', 22, 'Data Scientist')
(5, 'Akhilesh', 21, 'Web3')
(6, 'Aman', 21, 'Front End Develoer')

In [23]:
## Delete the data from the table
cursor.execute('''
Delete from Employee
                    where name = 'Aman'
''')

In [25]:
## QUery the data from the table
cursor.execute('Select * from Employee')
rows=cursor.fetchall()

## Print the queried data

for row in rows:
    print(row)

(1, 'Ajit', 22, 'Data Scientist')
(2, 'Akhilesh', 21, 'Web3')
(4, 'Ajit', 22, 'Data Scientist')
(5, 'Akhilesh', 21, 'Web3')

In [28]:
## Working tith Sales Data
# Connect to an SQLite database
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# Create a table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS SALES(
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)
''')

# Insert data into the sales table
sales_data = [
    ('2023-01-01','Product1',100,'North'),
    ('2023-01-02','Product2',200,'South'),
    ('2023-01-03','Product1',150,'East'),
    ('2023-01-04','Product3',250,'West'),
    ('2023-01-05','Product2',300,'North'),
]

cursor.executemany('''
Insert into sales(date,product,sales,region)
                    values(?,?,?,?)
''',sales_data)
connection.commit()

In [30]:
## QUery the data from the table
cursor.execute('Select * from sales')
rows=cursor.fetchall()

## Print the queried data

for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

In [31]:
## Close the connection
connection.close()

In [32]:
## QUery the data from the table
cursor.execute('Select * from sales')
rows=cursor.fetchall()

## Print the queried data

for row in rows:
    print(row)

ProgrammingError: Cannot operate on a closed database.